.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: radial-gradient(circle, #000000 50%, #ff0000 93%);
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(170, 3, 3, 0.831);
  position: relative;
  a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    transition: color 0.3s ease;

    &:hover {
      color: #000000;
    }

    &.active {
      font-weight: bold;
      border-bottom: 2px solid #3D3B47;
      padding-bottom: 0.25rem;
    }
  }

  .site-title a {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 0;
  }
  .menu-toggle {
    display: none; 
    background-color: radial-gradient(circle, #000000 50%, #ff0000 93%)
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .navbar {
    .menu-toggle {
      display: block; 
    }

    .nav-links {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 100%; 
      left: 0;
      background-color: #000; 
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      max-height: 0; 
      overflow: hidden;
      transition: max-height 0.3s ease-out;

      
      &.open {
        max-height: 400px; 
      }

      a {
        margin: 0;
        padding: 1rem 2rem;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
  }
}
